{% include "header.html" %}
<html lang="en">
<head>
	<title>
		Home
	</title>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
</head>

<body>
  <h1 class="ma">Public Gallery</h1>
  <div class="portfolio-container portfolio-nogap ma" data-layout="fitRows">
	  {% for image in images %}
	  	{% if image.public == "1"%}
			  <div  class="portfolio-item accessories women col-sm-6 col-md-4 col-lg-3 public">
				  <div class="portfolio public">
					  <figure class="portfolio-media">
						  <a href="#">
							  <img src="{{url_for('static', filename=image.path)}}" alt="item" class="product-image">
						  </a>
					  </figure>
					  <div class="portfolio-content ">
						  <div class="portfolio-tags">
							  <a href="#">creator</a>
						  </div><!-- End .portfolio-tags -->
						  <h3 class="portfolio-title"><a href="#">{{image.user.user_name}}</a></h3><!-- End .portfolio-title -->

					  </div><!-- End .portfolio-content -->
				  </div><!-- End .portfolio -->
			  </div><!-- End .portfolio-item -->
	  	{% endif %}
	  {% endfor %}
  </div><!-- End .portfolio-container -->
</body>


<!-- molla/elements-portfolio.html  22 Nov 2019 10:05:32 GMT -->
</html>
